main {
  width: 100%;
  height: 100%;
  /* padding: 2em; */
  background-image: url(../../assets/wp10578953-valorant-dual-monitor-wallpapers.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3em;
  color: var(--text-color);
  padding: 3em 2.5em;
}

@media (max-width: 900px) {
  .card{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 710px) {
  .card{
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (max-width: 500px) {
  .card{
    grid-template-columns: 1fr;
  }
}
