.card-agent {
    background-color: var(--color-crads);
    padding: 0.8em 0.5em;
    border: 2px solid var(--primary-color);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);

    transition: 0.3s ease;
}

.card-hea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-crads);
    padding: 0 0.5em;    
}

.card-hea span {
    background-color: var(--primary-color);
    padding: 2px 5px;
}

.card-logo{
    width: 30px;
}

.card-img{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 1em;
    color: var(--primary-color);
    font-size: 1.5em;
}

.card-img h2 {
    margin: 0.6em;
    text-transform: uppercase;
}

.card-rol {
    display: flex;
    gap: 0.6em;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.card-rol span {
    margin-top: 0.2em;
}

.card-rol img {
    width: 20px;
}


.card-agent:hover {
    transform: scale(1.12);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }